<section class="advantages" id="advantages">
  <div class="container">
    <h2 class="visually-hidden">Our advantages</h2>
    <ul class="advantages__list list">
      <li class="advantages__item">
        <p class="advantages__meta" data-aos="fade-down">721</p>
        <p class="advantages__text">
          Liters of milk we get per day to make our products that you love so
          much!
        </p>
      </li>
      <li class="advantages__item">
        <p class="advantages__meta" data-aos="fade-down">16kg</p>
        <p class="advantages__text">Of ice cream we sell every day.</p>
      </li>
      <li class="advantages__item">
        <p class="advantages__meta" data-aos="fade-down">84</p>
        <p class="advantages__text">
          Different flavors of ice cream. You can keep an experiment and try to
          mix any of them.
        </p>
      </li>
    </ul>
  </div>
</section>
