<section class="contacts" id="contacts">
  <div class="container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contacts-list">
      <li class="contacts-list__item">
        <p class="contacts-list__horeca">CAFE</p>
        <h3 class="contacts-list__location">Chicago</h3>
        <p class="contacts-list__location-description">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <ul class="contacts-list__schedule">
          <li class="contacts-list__schedule-item">Monday - Friday</li>
          <li class="contacts-list__schedule-item">06:00 AM - 10:00 PM</li>
          <li class="contacts-list__schedule-item">Saturday - Sunday</li>
          <li class="contacts-list__schedule-item">08:00 AM - 16:00 PM</li>
        </ul>
        <div class="contacts-list__contact">
          <a class="contacts-list__link link" href="tel:+61(0)383766284"
            >+61(0) 383 766 284</a
          >
          <a class="contacts-list__link link" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </div>
      </li>
      <li class="contacts-list__item">
        <p class="contacts-list__horeca">FOODTRUCK</p>
        <h3 class="contacts-list__location">Los Angeles</h3>
        <p class="contacts-list__location-description">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <ul class="contacts-list__schedule">
          <li class="contacts-list__schedule-item">Monday - Friday</li>
          <li class="contacts-list__schedule-item">06:00 AM - 10:00 PM</li>
          <li class="contacts-list__schedule-item">Saturday - Sunday</li>
          <li class="contacts-list__schedule-item">08:00 AM - 16:00 PM</li>
        </ul>
        <div class="contacts-list__contact">
          <a class="contacts-list__link link" href="tel:+61(0)383766284"
            >+61(0) 383 766 284</a
          >
          <a class="contacts-list__link link" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </div>
      </li>
      <li class="contacts-list__item">
        <p class="contacts-list__horeca">CAFE</p>
        <h3 class="contacts-list__location">New York</h3>
        <p class="contacts-list__location-description">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <ul class="contacts-list__schedule">
          <li class="contacts-list__schedule-item">Monday - Friday</li>
          <li class="contacts-list__schedule-item">06:00 AM - 10:00 PM</li>
          <li class="contacts-list__schedule-item">Saturday - Sunday</li>
          <li class="contacts-list__schedule-item">08:00 AM - 16:00 PM</li>
        </ul>
        <div class="contacts-list__contact">
          <a class="contacts-list__link link" href="tel:+61(0)383766284"
            >+61(0) 383 766 284</a
          >
          <a class="contacts-list__link link" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </div>
      </li>
    </ul>
    <div class="btn-wrapper">
      <div class="dropdown">
        <button type="button" class="contacts-btn dropbtn" aria-expanded="true">
          Our Locations
          <svg class="btn-svg" Width="5" height="8">
            <use href="/src/images/icon.svg#icon-more"></use>
          </svg>
        </button>
        <div class="dropdown__content">
          <a
            href="https://goo.gl/maps/DpAxNLzVStHkTQNH6"
            target="_blank"
            class="dropdown__link"
            >Chicago
            <svg class="btn-svg" Width="5" height="8">
              <use href="/src/images/icon.svg#icon-more"></use></svg
          ></a>
          <a
            href="https://goo.gl/maps/9Mi1C14Ge2jCVdWR9"
            target="_blank"
            class="dropdown__link"
            >Los Angeles
            <svg class="btn-svg" Width="5" height="8">
              <use href="/src/images/icon.svg#icon-more"></use></svg
          ></a>
          <a
            href="https://goo.gl/maps/AKchzWGfk4Zo96xm8"
            target="_blank"
            class="dropdown__link"
            >New York
            <svg class="btn-svg" Width="5" height="8">
              <use href="/src/images/icon.svg#icon-more"></use></svg
          ></a>
        </div>
      </div>
      <button type="button" class="contacts-btn btn-second" data-modal-open>
        Franchise
        <svg class="btn-svg" Width="5" height="8">
          <use href="/src/images/icon.svg#icon-more"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
