
<section class="reviews section">
 <div class="container">

    <h2 class="visually-hidden">Customer Reviews</h2>


    <div class="reviews__slider">

        <div class="reviews__item">
           <picture>
                 <source
                  srcset="./images/reviews/photo1-1x.png 1x,
                          ./images/reviews/photo1-2x.png 2x" 
                   >
            <img src="./images/reviews/photo1-1x.png" alt="photo Emily" class="reviews__photo">
            </picture>
         <div class="reviews__wrap">
        <div class="reviews__row">
             <div class="reviews__quote">
            <article class="reviews__text">
              <h3 class="visually-hidden">customer reviews</h3>
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
             </article>
            </div>
        </div>
        </div>

        <div class="reviews__dot"></div> 
    
    <p class="reviews__name">Emily, Los Angeles</p> 
</div>
    
   
        <div class="reviews__item">
        
        <picture>
                 <source
                  srcset="./images/reviews/photo2-1x.png 1x,
                          ./images/reviews/photo2-2x.png 2x" 
                   >
           <img src="./images/reviews/photo2-1x.png" alt="photo Viven" class="reviews__photo">
        </picture>
         <div class="reviews__wrap">
        <div class="reviews__row">
             <div class="reviews__quote">
            <article class="reviews__text">
              <h3 class="visually-hidden">customer reviews</h3>
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
             </article>
            </div>
        </div>
        </div>

        <div class="reviews__dot"></div> 
    
    <p class="reviews__name">Emily, Los Angeles</p> 
</div>
    
 <div class="reviews__item">
         
        <picture>
                 <source
                  srcset="./images/reviews/photo3-1x.png 1x,
                          ./images/reviews/photo3-2x.png 2x" 
                   >
        <img src="./images/reviews/photo3-1x.png" alt="photo Jane" class="reviews__photo">           
        </picture>
         <div class="reviews__wrap">
          <div class="reviews__row">
             <div class="reviews__quote">
            <article class="reviews__text">
              <h3 class="visually-hidden">customer reviews</h3>
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
             </article>
            </div>
        </div>
        </div>

        <div class="reviews__dot"></div> 
    
    <p class="reviews__name">Emily, Los Angeles</p> 
</div>

    </div>
  </div>
</section>
