<footer class="footer">
    <div class="container">
        <div class="main">
            <div class="footer__head">
                <p class="footer__head-title">homemade ice cream made</з>
                <p class="footer__head-after-title">with passion</p>
            </div>
            <div class="add">
                <ul class="footer__connect-list list">
                    <li class="footer__connect-item ">
                        <a href="https://github.com/" class="footer__connect-link link" aria-label="Github" target="_blank">
                            <svg class="footer__connect-icon" width="20" height="20">
                                <use href="./images/icon.svg#icon-github"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer__connect-item">
                        <a href="https://web.telegram.org/z/" class="footer__connect-link link" aria-label="Telegram" target="_blank">
                            <svg class="footer__connect-icon" width="20.4" height="15.87">
                                <use href="./images/icon.svg#icon-telegram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer__connect-item">
                        <a href="https://uk-ua.facebook.com/" class="footer__connect-link link" aria-label="Facebook" target="_blank">
                            <svg class="footer__connect-icon" width="9.35" height="20.4">
                                <use href="./images/icon.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
                <div class="footer__contact">
                    <p class="footer__contact-main">free to contact 
                        <a href="tel:+61(0)383766284" class="footer__contact-tel link"> +61 (0) 383 766 284 </a> 
                    </p>  
                </div>
            </div>
        </div>
    </div>
</footer>
        <div class="footer__copy">
            <p class="footer__copy-main">&copy; 2022 - IceCream.
             All Rights Reserved.</p>
        </div>