<section class="gallery">
  <div class="container wrapper">
    <h2 class="visually-hidden">Ice Cream Gallery</h2>
    <div class="gallery__mob">
      <img
        srcset="
          ./images/gallery/@1x-gallery-mob.png 1x,
          ./images/gallery/@2x-gallery-mob.png 2x
        "
        src="./images/gallery/@1x-gallery-mob.png"
        alt="Ice Cream picture"
        class="gallery__mob-img"
      />
    </div>
    <div class="grid">
      <div class="grid-item grid__item-1">
        <a href="#/" class="grid__link">
          <picture>
            <source
              srcset="
                ./images/gallery/gallery-desktop/@1x-gallery-desktop-1.png 1x,
                ./images/gallery/gallery-desktop/@2x-gallery-desktop-1.png 2x
              "
              media="(min-width: 1200px)"
            />

            <source
              srcset="
                ./images/gallery/gallery-tab/@1x-gallery-tab-1.png 1x,
                ./images/gallery/gallery-tab/@2x-gallery-tab-1.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery/480/@1x-gallery-480-1.png 1x,
                ./images/gallery/480/@2x-gallery-480-1.png 2x
              "
              media="(min-width: 480px)"
            />
            <source
              srcset="
                ./images/gallery/gallery-mob/@1x-gallery-1.png 1x,
                ./images/gallery/gallery-mob/@2x-gallery-1.png 2x
              "
              media="(min-width: 319px)"
            />
            <img
              src="./images/gallery/gallery-mob/@1x-gallery-1.png"
              alt="ice-cream on the plate"
            />
          </picture>
        </a>
      </div>
      <div class="grid-item grid__item-2">
        <a href="#/" class="grid__link">
          <picture>
            <source
              srcset="
                ./images/gallery/gallery-desktop/@1x-gallery-desktop-2.png 1x,
                ./images/gallery/gallery-desktop/@2x-gallery-desktop-2.png 2x
              "
              media="(min-width: 1200px)"
            />

            <source
              srcset="
                ./images/gallery/gallery-tab/@1x-gallery-tab-2.png 1x,
                ./images/gallery/gallery-tab/@2x-gallery-tab-2.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery/480/@1x-gallery-480-2.png 1x,
                ./images/gallery/480/@2x-gallery-480-2.png 2x
              "
              media="(min-width: 480px)"
            />
            <source
              srcset="
                ./images/gallery/gallery-mob/@1x-gallery-2.png 1x,
                ./images/gallery/gallery-mob/@2x-gallery-2.png 2x
              "
              media="(min-width: 319px)"
            />
            <img
              src="./images/gallery/gallery-mob/@1x-gallery-2.png"
              alt="ice-cream-cone"
            />
          </picture>
        </a>
      </div>
      <div class="grid-item grid__item-3">
        <a href="#/" class="grid__link">
          <picture>
            <source
              srcset="
                ./images/gallery/gallery-desktop/@1x-gallery-desktop-3.png 1x,
                ./images/gallery/gallery-desktop/@2x-gallery-desktop-3.png 2x
              "
              media="(min-width: 1200px)"
            />

            <source
              srcset="
                ./images/gallery/gallery-tab/@1x-gallery-tab-3.png 1x,
                ./images/gallery/gallery-tab/@2x-gallery-tab-3.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery/480/@1x-gallery-480-3.png 1x,
                ./images/gallery/480/@2x-gallery-480-3.png 2x
              "
              media="(min-width: 480px)"
            />
            <source
              srcset="
                ./images/gallery/gallery-mob/@1x-gallery-3.png 1x,
                ./images/gallery/gallery-mob/@2x-gallery-3.png 2x
              "
              media="(min-width: 319px)"
            />
            <img
              src="./images/gallery/gallery-mob/@1x-gallery-3.png"
              alt="a lot of ice creams"
            />
          </picture>
        </a>
      </div>
      <div class="grid-item grid__item-4">
        <a href="#/" class="grid__link">
          <picture>
            <source
              srcset="
                ./images/gallery/gallery-desktop/@1x-gallery-desktop-4.png 1x,
                ./images/gallery/gallery-desktop/@2x-gallery-desktop-4.png 2x
              "
              media="(min-width: 1200px)"
            />

            <source
              srcset="
                ./images/gallery/gallery-tab/@1x-gallery-tab-4.png 1x,
                ./images/gallery/gallery-tab/@2x-gallery-tab-4.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery/480/@1x-gallery-480-4.png 1x,
                ./images/gallery/480/@2x-gallery-480-4.png 2x
              "
              media="(min-width: 480px)"
            />
            <source
              srcset="
                ./images/gallery/gallery-mob/@1x-gallery-4.png 1x,
                ./images/gallery/gallery-mob/@2x-gallery-4.png 2x
              "
              media="(min-width: 319px)"
            />
            <img
              src="./images/gallery/gallery-mob/@1x-gallery-4.png"
              alt=" a lot of ice cream cones"
            />
          </picture>
        </a>
      </div>
      <div class="grid-item grid__item-5">
        <a href="#/" class="grid__link">
          <picture>
            <source
              srcset="
                ./images/gallery/gallery-desktop/@1x-gallery-desktop-5.png 1x,
                ./images/gallery/gallery-desktop/@2x-gallery-desktop-5.png 2x
              "
              media="(min-width: 1200px)"
            />

            <source
              srcset="
                ./images/gallery/gallery-tab/@1x-gallery-tab-5.png 1x,
                ./images/gallery/gallery-tab/@2x-gallery-tab-5.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery/480/@1x-gallery-480-5.png 1x,
                ./images/gallery/480/@2x-gallery-480-5.png 2x
              "
              media="(min-width: 480px)"
            />
            <source
              srcset="
                ./images/gallery/gallery-mob/@1x-gallery-5.png 1x,
                ./images/gallery/gallery-mob/@2x-gallery-5.png 2x
              "
              media="(min-width: 319px)"
            />
            <img
              src="./images/gallery/gallery-mob/@1x-gallery-5.png"
              alt="girl eating ice cream"
            /> </picture
        ></a>
      </div>
      <div class="grid-item grid__item-6">
        <a href="#/" class="grid__link">
          <picture>
            <source
              srcset="
                ./images/gallery/gallery-desktop/@1x-gallery-desktop-6.png 1x,
                ./images/gallery/gallery-desktop/@2x-gallery-desktop-6.png 2x
              "
              media="(min-width: 1200px)"
            />

            <source
              srcset="
                ./images/gallery/gallery-tab/@1x-gallery-tab-6.png 1x,
                ./images/gallery/gallery-tab/@2x-gallery-tab-6.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery/480/@1x-gallery-480-6.png 1x,
                ./images/gallery/480/@2x-gallery-480-6.png 2x
              "
              media="(min-width: 480px)"
            />
            <source
              srcset="
                ./images/gallery/gallery-mob/@1x-gallery-6.png 1x,
                ./images/gallery/gallery-mob/@2x-gallery-6.png 2x
              "
              media="(min-width: 319px)"
            />
            <img
              src="./images/gallery/gallery-mob/@1x-gallery-6.png"
              alt="ice cream with fruits"
            />
          </picture>
        </a>
      </div>
      <div class="grid-item grid__item-7">
        <a href="#/" class="grid__link">
          <picture>
            <source
              srcset="
                ./images/gallery/gallery-desktop/@1x-gallery-desktop-7.png 1x,
                ./images/gallery/gallery-desktop/@2x-gallery-desktop-7.png 2x
              "
              media="(min-width: 1200px)"
            />

            <source
              srcset="
                ./images/gallery/gallery-tab/@1x-gallery-tab-7.png 1x,
                ./images/gallery/gallery-tab/@2x-gallery-tab-7.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery/480/@1x-gallery-480-7.png 1x,
                ./images/gallery/480/@2x-gallery-480-7.png 2x
              "
              media="(min-width: 480px)"
            />
            <source
              srcset="
                ./images/gallery/gallery-mob/@1x-gallery-7.png 1x,
                ./images/gallery/gallery-mob/@2x-gallery-7.png 2x
              "
              media="(min-width: 319px)"
            />
            <img
              src="./images/gallery/gallery-mob/@1x-gallery-7.png"
              alt="ace cream in your hand"
            />
          </picture>
        </a>
      </div>
      <div class="grid-item grid__item-8">
        <a href="#/" class="grid__link">
          <picture>
            <source
              srcset="
                ./images/gallery/gallery-desktop/@1x-gallery-desktop-8.png 1x,
                ./images/gallery/gallery-desktop/@2x-gallery-desktop-8.png 2x
              "
              media="(min-width: 1200px)"
            />

            <source
              srcset="
                ./images/gallery/gallery-tab/@1x-gallery-tab-8.png 1x,
                ./images/gallery/gallery-tab/@2x-gallery-tab-8.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery/480/@1x-gallery-480-8.png 1x,
                ./images/gallery/480/@2x-gallery-480-8.png 2x
              "
              media="(min-width: 480px)"
            />
            <source
              srcset="
                ./images/gallery/gallery-mob/@1x-gallery-8.png 1x,
                ./images/gallery/gallery-mob/@2x-gallery-8.png 2x
              "
              media="(min-width: 319px)"
            />
            <img
              src="./images/gallery/gallery-mob/@1x-gallery-8.png"
              alt="a dog eating ice cream"
            />
          </picture>
        </a>
      </div>
      <div class="grid-item grid__item-9">
        <a href="#/" class="grid__link">
          <picture>
            <source
              srcset="
                ./images/gallery/gallery-desktop/@1x-gallery-desktop-9.png 1x,
                ./images/gallery/gallery-desktop/@2x-gallery-desktop-9.png 2x
              "
              media="(min-width: 1200px)"
            />

            <source
              srcset="
                ./images/gallery/gallery-tab/@1x-gallery-tab-9.png 1x,
                ./images/gallery/gallery-tab/@2x-gallery-tab-9.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery/480/@1x-gallery-480-9.png 1x,
                ./images/gallery/480/@2x-gallery-480-9.png 2x
              "
              media="(min-width: 480px)"
            />
            <source
              srcset="
                ./images/gallery/gallery-mob/@1x-gallery-9.png 1x,
                ./images/gallery/gallery-mob/@2x-gallery-9.png 2x
              "
              media="(min-width: 319px)"
            />
            <img
              src="./images/gallery/gallery-mob/@1x-gallery-9.png"
              alt="coffee with cream"
            />
          </picture>
        </a>
      </div>
      <div class="grid-item grid__item-10">
        <a href="#/" class="grid__link">
          <picture>
            <source
              srcset="
                ./images/gallery/gallery-desktop/@1x-gallery-desktop-10.png 1x,
                ./images/gallery/gallery-desktop/@2x-gallery-desktop-10.png 2x
              "
              media="(min-width: 1200px)"
            />

            <source
              srcset="
                ./images/gallery/gallery-tab/@1x-gallery-tab-10.png 1x,
                ./images/gallery/gallery-tab/@2x-gallery-tab-10.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery/480/@1x-gallery-480-10.png 1x,
                ./images/gallery/480/@2x-gallery-480-10.png 2x
              "
              media="(min-width: 480px)"
            />
            <source
              srcset="
                ./images/gallery/gallery-mob/@1x-gallery-10.png 1x,
                ./images/gallery/gallery-mob/@2x-gallery-10.png 2x
              "
              media="(min-width: 319px)"
            />
            <img
              src="./images/gallery/gallery-mob/@1x-gallery-10.png"
              alt="cookies with the ice cream"
            />
          </picture>
        </a>
      </div>
    </div>
  </div>
</section>
