<header class="header">
  <div class="container">
    <div class="wrap-nav">
      <a class="wrap-logo" href="./index.html">
        <svg class="logo" width="199" height="50">
          <use href="./images/full-logo.svg#icon-logo-icon"></use>
        </svg>
        <span class="visually-hidden">Icecream</span>
      </a>
      <!-- navigation -->
      <nav class="nav">
        <ul class="site-nav list">
          <li class="site-nav__item">
            <a href="#hero" class="site-nav__link current link">Home</a>
          </li>
          <li class="site-nav__item">
            <a href="#advantages" class="site-nav__link link">About us</a>
          </li>
          <li class="site-nav__item">
            <a href="#about" class="site-nav__link link">How it's made?</a>
          </li>
          <li class="site-nav__item">
            <a href="#products_section" class="site-nav__link link"
              >Our products</a
            >
          </li>
          <li class="site-nav__item">
            <a href="#contacts" class="site-nav__link link">Contact</a>
          </li>
        </ul>
      </nav>
      <!-- buttons -->
      <div class="header-buttons-wrap">
        <div class="menu-btn-wrap">
          <button type="button" class="menu-btn" aria-label="open-menu">
            <svg class="icon-menu" width="20" height="12">
              <use href="./images/icons.svg#icon-menu-btn"></use>
            </svg>
          </button>
        </div>
        <button
          type="button"
          class="order-butn"
          data-modal-order-open
          aria-label="open-order-menu"
        >
          Buy now
          <svg class="order-link__icon" width="6" height="10">
            <use href="/src/images/icon.svg#icon-Vector-1" />
          </svg>
        </button>
      </div>
    </div>
    <a href="#hero" class="to-top__link">
      <svg class="to-top__icon" width="30" height="30" aria-label="to top">
        <use href="./images/icons.svg#arrow-up" />
      </svg>
    </a>
  </div>
</header>
