<div class="mob-menu-wrap is-hidden">
  <div class="mob-menu">
    <div class="container">
      <button
        type="button"
        class="mob-menu-close-btn close-btn"
        aria-label="close-menu"
      >
        <svg class="icon-close" width="14" height="14">
          <use href="./images/icons.svg#icon-close-menu-btn"></use>
        </svg>
      </button>
      <button type="button" class="order-btn" aria-label="open-order-menu">
        Buy now
      </button>

      <nav class="nav-list">
        <ul class="mob-menu__list list">
          <li class="mob-menu__list-item">
            <a href="#hero" class="site-nav__link link hom-bnt">Home</a>
          </li>
          <li class="mob-menu__list-item">
            <a href="#advantages" class="site-nav__link link abo-bnt"
              >About us</a
            >
          </li>
          <li class="mob-menu__list-item">
            <a href="#about" class="site-nav__link link him-bnt"
              >How it's made?</a
            >
          </li>
          <li class="mob-menu__list-item">
            <a href="#products_section" class="site-nav__link link our-bnt"
              >Our products</a
            >
          </li>
          <li class="mob-menu__list-item">
            <a href="#contacts" class="site-nav__link link con-bnt">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
