<section class="products section" id="products_section">
  <div class="container">
    <p class="products-pre-title">100% natural</p>
    <h2 class="section__title">products</h2>
    <ul class="products__list">
      <li class="products__item">
        <div class="products__card products__icon-ice-cream">
          <h3 class="products__title">ice cream</h3>
          <p class="products__description products__description--height">
            Our ice cream made from cream, milk, sugar, flavorings with the
            addition of toppings, fruits, nuts with Love. Find your own to
            taste!
          </p>
          <button
            class="products__btn1"
            type="button"
            aria-expanded="false"
            aria-controls="products_article1"
            aria-label="Swollen down"
          >
            <svg class="icon-arrow">
              <use
                class="icon-arrow-open"
                href="./images/icons.svg#arrow-down"
              ></use>
              <use
                class="icon-arrow-close"
                href="./images/icons.svg#arrow-up"
              ></use>
            </svg>
          </button>
          <div class="products__article1" id="products_article1">
            <p class="products__text">Nutritional properties, 100g&colon;</p>
            <ul class="products__consist-list">
              <li>
                <span class="products__text"
                  >calories &#45; 119.00kcal&#59;</span
                >
              </li>
              <li>
                <span class="products__text">squirrels &#45; 1.51g&#59;</span>
              </li>
              <li><span class="products__text">fats &#45; 8.00g&#59;</span></li>
              <li>
                <span class="products__text"
                  >carbohydrates &#45; 10.66g&#46;</span
                >
              </li>
            </ul>
          </div>
        </div>
      </li>

      <li class="products__item">
        <div class="products__card products__icon-ice-coffee">
          <h3 class="products__title">ice coffee</h3>
          <p class="products__description">
            Ice coffee made from ice cream and natural Brasilian coffee Arabica
            variety, with the addition of toppings and ice. Find your own to
            taste!
          </p>
          <button
            class="products__btn2"
            type="button"
            aria-expanded="false"
            aria-controls="products_article2"
            aria-label="Swollen down"
          >
            <svg class="icon-arrow">
              <use
                class="icon-arrow-open"
                href="./images/icons.svg#arrow-down"
              ></use>
              <use
                class="icon-arrow-close"
                href="./images/icons.svg#arrow-up"
              ></use>
            </svg>
          </button>
          <div class="products__article2" id="products_article2">
            <p class="products__text">Nutritional properties, 100g&colon;</p>
            <ul class="products__consist-list">
              <li>
                <span class="products__text"
                  >calories &#45; 100.00kcal&#59;</span
                >
              </li>
              <li>
                <span class="products__text">squirrels &#45; 1.10g&#59;</span>
              </li>
              <li><span class="products__text">fats &#45; 3.00g&#59;</span></li>
              <li>
                <span class="products__text"
                  >carbohydrates &#45; 12.80g&#46;</span
                >
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="products__item">
        <div class="products__card products__icon-milkshakes">
          <h3 class="products__title">milkshakes</h3>
          <p class="products__description">
            Our milkshakes made from ice cream, milk, flavorings with the
            addition of toppings, fruits. With love and passion. Find your
            taste!
          </p>
          <button
            class="products__btn3"
            type="button"
            aria-expanded="false"
            aria-controls="products_article3"
            aria-label="Swollen down"
          >
            <svg class="icon-arrow">
              <use
                class="icon-arrow-open"
                href="./images/icons.svg#arrow-down"
              ></use>
              <use
                class="icon-arrow-close"
                href="./images/icons.svg#arrow-up"
              ></use>
            </svg>
          </button>
          <div class="products__article3" id="products_article3">
            <p class="products__text">Nutritional properties, 100g&colon;</p>
            <ul class="products__consist-list">
              <li>
                <span class="products__text"
                  >calories &#45; 110.00kcal&#59;</span
                >
              </li>
              <li>
                <span class="products__text">squirrels &#45; 1.32g&#59;</span>
              </li>
              <li><span class="products__text">fats &#45; 6.00g&#59;</span></li>
              <li>
                <span class="products__text"
                  >carbohydrates &#45; 10.30g&#46;</span
                >
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
